Primeiramente, importamos as bibiliotecas necess√°rias para o desenvolvimento do lab.

In [48]:
import nltk
from nltk.corpus import reuters
from nltk.corpus import wordnet
import pandas as pd
import re

Logo abaixo, lemos o csv com o texto a ser analisado e criamos uma coluna apenas com os caracteres que desejamos analisar, ou seja, texto com letras sem acentos.

In [57]:
data_frame = pd.read_csv('./results.csv')
data_frame = data_frame[['text']]
data_frame['clean_text'] = data_frame.text.apply(lambda x: re.sub('[^A-Za-z\']', ' ', x.lower()))

In [63]:

word_list = ' '.join(data_frame.clean_text.values).split(' ')
words = pd.DataFrame(word_list, columns=['word'])
word_counts = words.word.value_counts().reset_index()
word_counts.columns = ['word', 'n']
word_counts['word_rank'] = word_counts.n.rank(ascending=False)

print word_counts

                 word       n  word_rank
0                      104327        1.0
1                   o   14686        2.0
2                  de   10286        3.0
3                   a    8518        4.0
4                 que    6554        5.0
5                   e    5827        6.0
6                  do    3518        7.0
7                  em    3396        8.0
8                  da    3090        9.0
9                  um    2698       10.0
10                  n    2355       11.0
11               para    2327       12.0
12                  s    2291       13.0
13                 os    2231       14.0
14                uma    2224       15.0
15                com    2220       16.0
16                 se    2031       17.0
17                 no    1799       18.0
18                 as    1778       19.0
19                 na    1739       20.0
20                  m    1589       21.0
21                 es    1553       22.0
22                por    1402       23.0
23               como    1331       24.0
24               mais    1206       25.0
25                dos    1094       26.0
26                mas     967       27.0
27                 ao     965       28.0
28               ncia     864       29.0
29                rio     828       30.0
...               ...     ...        ...
20690      governismo       1    15778.5
20691      conservado       1    15778.5
20692       desistido       1    15778.5
20693      hilaridade       1    15778.5
20694        carnegie       1    15778.5
20695         busquem       1    15778.5
20696       recusaram       1    15778.5
20697         tiranos       1    15778.5
20698       edificada       1    15778.5
20699       desmanche       1    15778.5
20700            clav       1    15778.5
20701       patologia       1    15778.5
20702      funcionado       1    15778.5
20703         dirigia       1    15778.5
20704          gostei       1    15778.5
20705      pontiagudo       1    15778.5
20706           serna       1    15778.5
20707     confrontada       1    15778.5
20708         prociss       1    15778.5
20709            eder       1    15778.5
20710  envelhecimento       1    15778.5
20711          cintra       1    15778.5
20712     atrevimento       1    15778.5
20713        cantoras       1    15778.5
20714      beneficiou       1    15778.5
20715        nascerem       1    15778.5
20716       articular       1    15778.5
20717      submetidas       1    15778.5
20718       enriquece       1    15778.5
20719        setorial       1    15778.5

[20720 rows x 3 columns]